.blockLogo {
  text-align: center;
  padding: 1px;
  margin: 0px;
  box-shadow: 0 0 20px rgb(0 0 0 /25%);
  position: relative;
  img {
    width: 250px;
    padding: 15px;
    margin: 0 auto;
  }
}
